.challengeBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* padding: 1.5rem 2rem; */
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 60px var(--shdow);
  background-color: var(--contrast);
}

.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.challengeNotActive p {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin-top: 3rem;
  line-height: 1.4;
}

.challengeNotActive p img {
  margin-bottom: 1rem;
}

.challengeActive {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.challengeActive header {
  width: 70%;
  margin: 1.5rem auto 0;
  padding: 0 2rem 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--gray-line);
  color: var(--blue);
}

.challengeActive main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.5rem 0 1rem;
}

.challengeActive main p {
  line-height: 1.5;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  border-radius: 0 0 5px 5px;
  background-color: var(--gray-line);
}

.challengeActive footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-top: 1px solid var(--gray-line);
  color: var(--contrast);
  transition: all 200ms;
}

.challengeActive footer button.challengeFailedButton {
  border-radius: 0 0 0 5px;
  background-color: var(--button-failed);
  color: var(--red);
}

.challengeActive footer button.challengeFailedButton:hover {
  background-color: var(--red);
  color: var(--contrast);
}

.challengeActive footer button.challengeSucceededButton {
  border-radius: 0 0 5px 0;
  background-color: var(--button-succeeded);
  color: var(--green);
}

.challengeActive footer button.challengeSucceededButton:hover {
  background-color: var(--green);
  color: var(--contrast);
}