:root {
  --background: #F2F3F5;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --button-failed: #FFF5F5;
  --button-succeeded: #F7FFF5;
  --contrast: #FFFFFF;
  --gray-line: #DCDDE0;
  --green: #4CD62B;
  --modal-overlay: #F2F3F5CC;
  --red: #E83F5B;
  --shadow: #0000000D;
  --text: #666666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font: 400 1rem 'Inter', sans-serif;
}

body {
  color: var(--text);
  background-color: var(--background);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}